.map {
  background-color: $secondary4;
  color: $secondary;
  background-size: cover;
  height: 100vh;
  text-align: left;

  @include respond(tab-port) {
    height: auto;
    position: relative;
    padding: 1rem;
  }

  &__title {
    text-transform: uppercase;
    font-size: 3rem;
    padding: 1rem 2rem;
  }

  &__box {
    border: 3px solid $secondary;
    border-radius: 5px;
    width: 25rem;
    height: 25rem;

    @include respond(tab-port) {
      position: relative;
      // top: 0;
      // left: 0;
      width: 95%;
    }
  }

  &__details {
    padding: 2rem;
  }
}